@{
    ViewData["Title"] = "Home Page";
}

<style>
    .button-size {
        width: 50%
    }
</style>

<div class="text-center">
    <h1 class="display-4 mb-3">Velkommen!</h1>
    <div>
        <a asp-action="Kitchen" type="button" class="button-size btn btn-primary btn-lg mb-5">Køkken</a>
    </div>
    <div>
        <a asp-action="Reception" type="button" class="button-size btn btn-primary btn-lg mb-5">Reception</a>
    </div>
    <div>
        <a asp-action="Restaurant" type="button" class="button-size btn btn-primary btn-lg mb-5">Restaurant</a>
    </div>
</div>


