
@{
    ViewData["Title"] = "Kitchen";
}

<div class="text-center">
    <h1 class="display-4">Køkken</h1>
    <p class="lead">På denne side kan du få oplyst forventede antal gæster, hvor mange der er checket ind  </p>
</div>

